[Unit]
Description=Run Project Zomboid backup every 30 minutes when game is active

[Timer]
OnBootSec=1min
OnUnitActiveSec=30min

[Install]
WantedBy=timers.target
