[Unit]
Description=Project Zomboid Scheduled Backup

[Service]
Type=oneshot
ExecStart=%h/scripts/pz-backup.sh --timer
ExecCondition=/usr/bin/pgrep -x "ProjectZomboid6"