[Unit]
Description=Backup immich Service
Wants=backup-immich.timer

[Service]
Type=oneshot
ExecStart=/home/vulcan/.dotfiles/scripts/server_backup/backup_manager.sh -s immich

