[Unit]
Description=Run weekly
Requires=backup-vaultwarden.service

[Timer]
Unit=backup-vaultwarden.service
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
