[Unit]
Description=Run monthly
Requires=backup-immich.service

[Timer]
Unit=backup-immich.service
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
