[Desktop Entry]
Categories=Utility;
Comment[en_US]=Launch the virtual machine console for "Windows 11"
Comment=Launch the virtual machine console for "Windows 11"
Exec=~/.dotfiles/scripts/connect_win11_vm.sh
GenericName[en_US]=
GenericName=
Icon=virt-manager
MimeType=
Name[en_US]=Win11 VM
Name=Win11 VM
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
